.chatroomContainer {
    position: relative;
    top: 100px;
    left: 800px;
}
.chatroomHeader {
    margin: 2rem;
    border-bottom: 1px solid;
}
#chat {
    border: none;
    margin: 1rem 1rem 1rem 3rem;
}