.businessImage {
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
}
.twoHalvesInline {
    display: inline-block;
    text-align: left;
}
#newCrawlList {
    vertical-align: top;
}
.CreateCrawlContainer {
    margin: 3rem;
    text-align: center;
}
.CreateSearchContainer {
    margin: 3rem;
}
.leftText {
    margin: 2rem;
}
.BusinessContainer {
    padding: 1rem;
}
.loaderCentering {

}