.SavedCrawlsContainer {
    margin: 3rem;
    text-align: center;
}
/* .entirePubCrawl {
    display: inline;
} */
.inlineBlock {
    display: inline-block;
}
.textInlineWithImage {
    position: relative;
    bottom: 30px;
    margin: 1rem;
}